In [1]:
# skip straigt to cell #5 since ufoData.csv's duration is not normalized... using ufo.csv starting cell #5 where duration column is normalized in seconds
import pandas as pd;

df = pd.read_csv("ufoData.csv")
df

,date,city,state,country,shape,duration,comments,lat,lng
0,10/10/1949 20:30,san marcos,tx,us,cylinder,45 minutes,This event took place in early fall around 194...,29.883056,-97.941111
1,10/10/1960 20:00,kaneohe,hi,us,light,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.418056,-157.803611
2,10/10/1961 19:00,bristol,tn,us,sphere,5 minutes,My father is now 89 my brother 52 the girl wit...,36.595000,-82.188889
3,10/10/1965 23:45,norwalk,ct,us,disk,20 minutes,A bright orange color changing to reddish colo...,41.117500,-73.408333
4,10/10/1966 20:00,pell city,al,us,disk,3 minutes,Strobe Lighted disk shape object observed clos...,33.586111,-86.286111
...,...,...,...,...,...,...,...,...,...
66510,9/9/2013 21:15,nashville,tn,us,light,10 minutes,Round from the distance/slowly changing colors...,36.165833,-86.784444
66511,9/9/2013 22:00,boise,id,us,circle,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,43.613611,-116.202500
66512,9/9/2013 22:00,napa,ca,us,other,hour,Napa UFO&#44,38.297222,-122.284444
66513,9/9/2013 22:20,vienna,va,us,circle,5 seconds,Saw a five gold lit cicular craft moving fastl...,38.901111,-77.265556
66514,9/9/2013 23:00,edmond,ok,us,cigar,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,35.652778,-97.477778

In [11]:
us_df = df[df['country'] == 'us']
us168_df = us_df.sort_values('date').reset_index(drop=True).head(168)
us1680_df = us_df.sort_values('date').reset_index(drop=True).head(1680)

In [16]:
us168_df.to_csv('us168ufoData.csv', index=False, header=True)

In [17]:
us168_df

,date,city,state,country,shape,duration,comments,lat,lng
0,1/1/1944 12:00,san diego,ca,us,cigar,3 minutes,A sighting of one silver or white enlongated c...,32.715278,-117.156389
1,1/1/1956 5:30,weirton,wv,us,disk,10 seconds,My Uncle Sam was driving to work very early on...,40.418889,-80.589722
2,1/1/1957 21:00,dallas,tx,us,unknown,20 seconds,I was flying the first of 4 USAF aircraft on a...,32.783333,-96.800000
3,1/1/1958 22:00,pep,tx,us,fireball,2sec,Green fire balls&#44 Texas Panhandle&#44 late ...,33.816111,-102.557778
4,1/1/1961 12:00,santa clara,ca,us,circle,3 hours,Stationary circular object 12 oclock high.,37.354167,-121.954167
...,...,...,...,...,...,...,...,...,...
163,1/1/2007 16:30,miami lakes,fl,us,changing,20 minutes,strange objects on new year&#39s day&#44 2007 ...,25.908333,-80.308889
164,1/1/2007 18:08,eagle pass,tx,us,circle,15 minutes,Dark circular object seen over a deserted ranc...,28.708889,-100.499167
165,1/1/2007 19:00,chicago,il,us,light,approx. 1 hr. or so,Ball of changing light colors,41.850000,-87.650000
166,1/1/2007 19:00,magnolia,ar,us,unknown,5 minutes,Unidentified aircraft playing tag in the night...,33.266944,-93.239167
167,1/1/2007 19:30,salem,or,us,unknown,15-20 seconds,Lights moving from south to north&#44 low to g...,44.943056,-123.033889

In [40]:
#begins here
import pandas as pd
df2 = pd.read_csv("ufo.csv")
df2

,lng,lat,date,city,state,country,shape,duration (seconds),comments
0,-97.941111,29.883056,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,This event took place in early fall around 194...
1,-157.803611,21.418056,10/10/1960 20:00,kaneohe,hi,us,light,900.0,AS a Marine 1st Lt. flying an FJ4B fighter/att...
2,-82.188889,36.595000,10/10/1961 19:00,bristol,tn,us,sphere,300.0,My father is now 89 my brother 52 the girl wit...
3,-73.408333,41.117500,10/10/1965 23:45,norwalk,ct,us,disk,1200.0,A bright orange color changing to reddish colo...
4,-86.286111,33.586111,10/10/1966 20:00,pell city,al,us,disk,180.0,Strobe Lighted disk shape object observed clos...
...,...,...,...,...,...,...,...,...,...
66510,-86.784444,36.165833,9/9/2013 21:15,nashville,tn,us,light,600.0,Round from the distance/slowly changing colors...
66511,-116.202500,43.613611,9/9/2013 22:00,boise,id,us,circle,1200.0,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...
66512,-122.284444,38.297222,9/9/2013 22:00,napa,ca,us,other,1200.0,Napa UFO&#44
66513,-77.265556,38.901111,9/9/2013 22:20,vienna,va,us,circle,5.0,Saw a five gold lit cicular craft moving fastl...
66514,-97.477778,35.652778,9/9/2013 23:00,edmond,ok,us,cigar,1020.0,2 witnesses 2 miles apart&#44 Red &amp; White...

In [103]:
# change column names
df2.rename(columns={'duration (seconds)':'duration'}, inplace=True)
# typecast to date and set NaT for dropna later 
df2['date'] = pd.to_datetime(df2['date'], errors='coerce')

,lng,lat,date,city,state,country,shape,duration,comments
38758,-96.008056,32.709167,1910-06-01 15:00:00,wills point,tx,us,cigar,120.0,Cigar shaped object moving from West to East
38635,-86.013333,40.123889,1920-06-11 21:00:00,cicero,in,us,unknown,60.0,((NUFORC Note: Probable hoax. Note date. PD...
17539,-90.015000,41.420833,1925-12-28 18:00:00,atkinson (6 miles north of),il,us,disk,60.0,Young boy witnesses disc in sky above Illinois...
51879,-118.627500,43.642500,1929-07-05 14:00:00,buchanan (or burns),or,us,disk,60.0,we were traveling east of burns&#44clmbing up ...
22108,-102.301944,40.584444,1931-02-15 14:00:00,holyoke (6-8 miles southwest of),co,us,oval,60.0,In the winter of 1931&#44 I saw a flying machi...
...,...,...,...,...,...,...,...,...,...
42256,-77.228056,38.704167,1954-06-23 02:00:00,lorton,va,us,other,120.0,My Mother heard what she believed was a UFO.
42643,-99.131667,31.810833,1954-06-25 03:30:00,thrifty,tx,us,circle,45.0,6-25-1954&#44 Red circle of light in Thrifty&#...
43473,-118.351667,33.916389,1954-06-30 12:00:00,hawthorne,ca,us,light,120.0,Stationary light for several minutes (far away...
43474,-118.143611,34.147778,1954-06-30 15:00:00,pasadena,ca,us,circle,300.0,An incandescent white circular object passed o...
45482,-118.242778,34.052222,1954-07-01 22:00:00,los angeles,ca,us,circle,15.0,In 1954&#44 I saw a red glowing disc traveling...

In [109]:
# drop NaT (null) date value
df2 = df2.dropna(subset=['date'])
df2.sort_values(by='date', ascending=True).reset_index(drop=True)

,lng,lat,date,city,state,country,shape,duration,comments
0,-96.008056,32.709167,1910-06-01 15:00:00,wills point,tx,us,cigar,120.0,Cigar shaped object moving from West to East
1,-86.013333,40.123889,1920-06-11 21:00:00,cicero,in,us,unknown,60.0,((NUFORC Note: Probable hoax. Note date. PD...
2,-90.015000,41.420833,1925-12-28 18:00:00,atkinson (6 miles north of),il,us,disk,60.0,Young boy witnesses disc in sky above Illinois...
3,-118.627500,43.642500,1929-07-05 14:00:00,buchanan (or burns),or,us,disk,60.0,we were traveling east of burns&#44clmbing up ...
4,-102.301944,40.584444,1931-02-15 14:00:00,holyoke (6-8 miles southwest of),co,us,oval,60.0,In the winter of 1931&#44 I saw a flying machi...
...,...,...,...,...,...,...,...,...,...
66034,-119.291111,36.330278,2014-05-07 20:30:00,visalia,ca,us,fireball,180.0,Strange&#44 slowly moving fireball like object...
66035,-88.175278,30.547500,2014-05-07 21:00:00,theodore,al,us,circle,120.0,Driving home and entered my neighborhood and s...
66036,-73.051111,41.485833,2014-05-07 21:10:00,naugatuck,ct,us,unknown,300.0,Large formation of lights in western sky&#44 f...
66037,-90.562778,38.232222,2014-05-07 21:20:00,hillsboro,mo,us,fireball,360.0,Round slow moving silent ball looked like a ca...
66038,-90.048889,35.149444,2014-05-08 00:00:00,memphis,tn,us,rectangle,900.0,Standing at my window around 0:00 brilliantly ...

In [111]:
    df2['date'] = pd.to_datetime(df2['date'])
    df2['year'] = pd.DatetimeIndex(df2['date']).year.astype('int')
    df2['month'] = pd.DatetimeIndex(df2['date']).month.astype('int')
    df2['day'] = pd.DatetimeIndex(df2['date']).day.astype('int')
    df2['lng'] = df2['lng'].astype('float')
    df2['lat'] = df2['lat'].astype('float')
    df2['duration'] = df2['duration'].astype('float')
    #us16800_df = us16800_df.sort_values(['year','month', 'day']).reset_index(drop=True)
    df2.sort_values('date').reset_index(drop=True)

,lng,lat,date,city,state,country,shape,duration,comments,year,month,day
0,-96.008056,32.709167,1910-06-01 15:00:00,wills point,tx,us,cigar,120.0,Cigar shaped object moving from West to East,1910,6,1
1,-86.013333,40.123889,1920-06-11 21:00:00,cicero,in,us,unknown,60.0,((NUFORC Note: Probable hoax. Note date. PD...,1920,6,11
2,-90.015000,41.420833,1925-12-28 18:00:00,atkinson (6 miles north of),il,us,disk,60.0,Young boy witnesses disc in sky above Illinois...,1925,12,28
3,-118.627500,43.642500,1929-07-05 14:00:00,buchanan (or burns),or,us,disk,60.0,we were traveling east of burns&#44clmbing up ...,1929,7,5
4,-102.301944,40.584444,1931-02-15 14:00:00,holyoke (6-8 miles southwest of),co,us,oval,60.0,In the winter of 1931&#44 I saw a flying machi...,1931,2,15
...,...,...,...,...,...,...,...,...,...,...,...,...
66034,-119.291111,36.330278,2014-05-07 20:30:00,visalia,ca,us,fireball,180.0,Strange&#44 slowly moving fireball like object...,2014,5,7
66035,-88.175278,30.547500,2014-05-07 21:00:00,theodore,al,us,circle,120.0,Driving home and entered my neighborhood and s...,2014,5,7
66036,-73.051111,41.485833,2014-05-07 21:10:00,naugatuck,ct,us,unknown,300.0,Large formation of lights in western sky&#44 f...,2014,5,7
66037,-90.562778,38.232222,2014-05-07 21:20:00,hillsboro,mo,us,fireball,360.0,Round slow moving silent ball looked like a ca...,2014,5,7
66038,-90.048889,35.149444,2014-05-08 00:00:00,memphis,tn,us,rectangle,900.0,Standing at my window around 0:00 brilliantly ...,2014,5,8

In [125]:
# trim off duration between (0.5 secons > duration < 10hrs )
df3 = df2.sort_values('duration').reset_index(drop=True)
df3 = df3.iloc[20:]
df3 = df3.sort_values('duration', ascending=False).reset_index(drop=True)
df3 = df3.iloc[200:]
df3.sort_values('duration', ascending=False).reset_index(drop=True)

,lng,lat,date,city,state,country,shape,duration,comments,year,month,day
0,-117.866944,33.745556,2006-01-05 12:30:00,santa ana,ca,us,teardrop,37800.00,A statonary Round Metallic Object&#44 Hovering...,2006,1,5
1,-117.899167,33.916667,2009-03-01 14:00:00,brea,ca,us,oval,37800.00,The Anaheim report of 2-01-09 was 3-01-09&#44 ...,2009,3,1
2,-112.332500,33.630556,2005-10-25 19:30:00,surprise,az,us,light,37800.00,More lights west of Phoenix.,2005,10,25
3,-106.486389,31.758611,2011-10-14 18:00:00,el paso,tx,us,circle,37800.00,Silver orb floating over far westside of El Pa...,2011,10,14
4,-117.670000,35.622500,2010-07-01 21:00:00,ridgecrest,ca,us,circle,37800.00,Light flashes&#44 dark grey &quot;satellite&qu...,2010,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...
65814,-74.012500,40.804167,2007-11-24 01:45:00,north bergen,nj,us,light,0.50,Beam shoot towards park.,2007,11,24
65815,-91.643889,42.008333,2010-09-30 13:05:00,cedar rapids,ia,us,triangle,0.50,Flying object in the background of our video i...,2010,9,30
65816,-115.136389,36.175000,2006-09-17 03:30:00,las vegas,nv,us,chevron,0.45,boomerrang V -shaped object &#44very large at ...,2006,9,17
65817,-122.330833,47.606389,1997-06-20 04:30:00,seattle,wa,us,other,0.45,on leaving work at giving time noticed fivebri...,1997,6,20
65818,-70.621389,43.193611,2010-03-06 23:30:00,cape neddick,me,us,circle,0.40,Ocean-bound low-flying saucer glimpsed in Maine,2010,3,6

In [133]:
df3.sort_values('date', ascending=True).reset_index(drop=True)

,lng,lat,date,city,state,country,shape,duration,comments,year,month,day
0,-96.008056,32.709167,1910-06-01 15:00:00,wills point,tx,us,cigar,120.0,Cigar shaped object moving from West to East,1910,6,1
1,-86.013333,40.123889,1920-06-11 21:00:00,cicero,in,us,unknown,60.0,((NUFORC Note: Probable hoax. Note date. PD...,1920,6,11
2,-90.015000,41.420833,1925-12-28 18:00:00,atkinson (6 miles north of),il,us,disk,60.0,Young boy witnesses disc in sky above Illinois...,1925,12,28
3,-118.627500,43.642500,1929-07-05 14:00:00,buchanan (or burns),or,us,disk,60.0,we were traveling east of burns&#44clmbing up ...,1929,7,5
4,-102.301944,40.584444,1931-02-15 14:00:00,holyoke (6-8 miles southwest of),co,us,oval,60.0,In the winter of 1931&#44 I saw a flying machi...,1931,2,15
...,...,...,...,...,...,...,...,...,...,...,...,...
65814,-119.291111,36.330278,2014-05-07 20:30:00,visalia,ca,us,fireball,180.0,Strange&#44 slowly moving fireball like object...,2014,5,7
65815,-88.175278,30.547500,2014-05-07 21:00:00,theodore,al,us,circle,120.0,Driving home and entered my neighborhood and s...,2014,5,7
65816,-73.051111,41.485833,2014-05-07 21:10:00,naugatuck,ct,us,unknown,300.0,Large formation of lights in western sky&#44 f...,2014,5,7
65817,-90.562778,38.232222,2014-05-07 21:20:00,hillsboro,mo,us,fireball,360.0,Round slow moving silent ball looked like a ca...,2014,5,7
65818,-90.048889,35.149444,2014-05-08 00:00:00,memphis,tn,us,rectangle,900.0,Standing at my window around 0:00 brilliantly ...,2014,5,8

In [134]:
df4 = df3.sort_values('date').reset_index(drop=True)
df4.to_csv('cleaned-ufo.csv', index=False, header=True)

In [145]:
us_df = df4[df4['country'] == 'us']
us168_df = us_df.sample(168).sort_values('date').reset_index(drop=True)
us1680_df = us_df.sample(1680).sort_values('date').reset_index(drop=True)
us16800_df = us_df.sample(16800).sort_values('date').reset_index(drop=True)
us60800_df = us_df.sample(60800).sort_values('date').reset_index(drop=True)
us16800_df

,lng,lat,date,city,state,country,shape,duration,comments,year,month,day
0,-118.627500,43.642500,1929-07-05 14:00:00,buchanan (or burns),or,us,disk,60.0,we were traveling east of burns&#44clmbing up ...,1929,7,5
1,-88.064167,34.918056,1939-06-01 20:00:00,waterloo,al,us,fireball,300.0,4 high school students see bright&#44 ground-l...,1939,6,1
2,-84.410278,33.660000,1942-06-01 22:30:00,hapeville,ga,us,unknown,180.0,bright object approchjng Venus&#44 1940&#39s,1942,6,1
3,-84.512778,36.498056,1942-07-15 01:00:00,oneida,tn,us,rectangle,120.0,Two children walking along highway saw unfamil...,1942,7,15
4,-80.244444,36.099722,1945-06-07 07:00:00,winston-salem,nc,us,disk,2.0,I always thought this sighting should be on an...,1945,6,7
...,...,...,...,...,...,...,...,...,...,...,...,...
16795,-80.022222,32.918333,2014-05-06 21:30:00,hanahan,sc,us,diamond,1200.0,Object was a VERY large area sized diamond wit...,2014,5,6
16796,-82.692500,34.787778,2014-05-06 23:00:00,liberty,sc,us,oval,3600.0,Possible u.f.o. sighting in Liberty&#44 SC.,2014,5,6
16797,-86.130278,30.318333,2014-05-07 20:30:00,seagrove beach,fl,us,fireball,60.0,Around 8:30 pm I was on the balcony of our con...,2014,5,7
16798,-90.562778,38.232222,2014-05-07 21:20:00,hillsboro,mo,us,fireball,360.0,Round slow moving silent ball looked like a ca...,2014,5,7
16799,-90.048889,35.149444,2014-05-08 00:00:00,memphis,tn,us,rectangle,900.0,Standing at my window around 0:00 brilliantly ...,2014,5,8

In [149]:
us60800_df

,lng,lat,date,city,state,country,shape,duration,comments,year,month,day
0,-86.013333,40.123889,1920-06-11 21:00:00,cicero,in,us,unknown,60.0,((NUFORC Note: Probable hoax. Note date. PD...,1920,6,11
1,-90.015000,41.420833,1925-12-28 18:00:00,atkinson (6 miles north of),il,us,disk,60.0,Young boy witnesses disc in sky above Illinois...,1925,12,28
2,-102.301944,40.584444,1931-02-15 14:00:00,holyoke (6-8 miles southwest of),co,us,oval,60.0,In the winter of 1931&#44 I saw a flying machi...,1931,2,15
3,-97.213611,38.917222,1931-06-01 13:00:00,abilene,ks,us,disk,1800.0,This is a what my mother related to me regardi...,1931,6,1
4,-98.002778,46.923333,1934-09-15 15:30:00,valley city (6.5 miles east of),nd,us,disk,5.0,Two brothers observe&#44 hear&#44 three black ...,1934,9,15
...,...,...,...,...,...,...,...,...,...,...,...,...
60795,-86.130278,30.318333,2014-05-07 20:30:00,seagrove beach,fl,us,fireball,60.0,Around 8:30 pm I was on the balcony of our con...,2014,5,7
60796,-88.175278,30.547500,2014-05-07 21:00:00,theodore,al,us,circle,120.0,Driving home and entered my neighborhood and s...,2014,5,7
60797,-73.051111,41.485833,2014-05-07 21:10:00,naugatuck,ct,us,unknown,300.0,Large formation of lights in western sky&#44 f...,2014,5,7
60798,-90.562778,38.232222,2014-05-07 21:20:00,hillsboro,mo,us,fireball,360.0,Round slow moving silent ball looked like a ca...,2014,5,7
60799,-90.048889,35.149444,2014-05-08 00:00:00,memphis,tn,us,rectangle,900.0,Standing at my window around 0:00 brilliantly ...,2014,5,8

In [150]:
us168_df.to_csv('us168ufoData.csv', index=False, header=True)
us1680_df.to_csv('us1680ufoData.csv', index=False, header=True)
us16800_df.to_csv('us16800ufoData.csv', index=False, header=True)
us60800_df.to_csv('us60800ufoData.csv', index=False, header=True)

In [55]:
us16800_df = df4.sort_values('date').reset_index(drop=True).head(16800)
us16800_df.to_csv('us16800ufoData.csv', index=False, header=True)
us16800LLD_df = us16800_df[['lng','lat','date']]
us16800LLD_df.to_csv('us16800ufoDataLLD.csv', index=False, header=True)

In [49]:
us66800_df = df4.sort_values('date').reset_index(drop=True).head(66800)
us66800_df.to_csv('us66800ufoData.csv', index=False, header=True)
us66800LLD_df = us66800_df[['lng','lat','date']]
us66800LLD_df.to_csv('us66800ufoDataLLD.csv', index=False, header=True)

In [51]:
us16800_df["date"].min()

'1/1/1944 12:00'

In [52]:
us16800_df["date"].max()

'12/10/2007 22:00'

In [1]:
import pandas as pd
df = pd.read_csv("cleaned-ufo.csv")
df

,lng,lat,date,city,state,country,shape,duration,comments,year,month,day
0,-96.008056,32.709167,1910-06-01 15:00:00,wills point,tx,us,cigar,120.0,Cigar shaped object moving from West to East,1910,6,1
1,-86.013333,40.123889,1920-06-11 21:00:00,cicero,in,us,unknown,60.0,((NUFORC Note: Probable hoax. Note date. PD...,1920,6,11
2,-90.015000,41.420833,1925-12-28 18:00:00,atkinson (6 miles north of),il,us,disk,60.0,Young boy witnesses disc in sky above Illinois...,1925,12,28
3,-118.627500,43.642500,1929-07-05 14:00:00,buchanan (or burns),or,us,disk,60.0,we were traveling east of burns&#44clmbing up ...,1929,7,5
4,-102.301944,40.584444,1931-02-15 14:00:00,holyoke (6-8 miles southwest of),co,us,oval,60.0,In the winter of 1931&#44 I saw a flying machi...,1931,2,15
...,...,...,...,...,...,...,...,...,...,...,...,...
65814,-119.291111,36.330278,2014-05-07 20:30:00,visalia,ca,us,fireball,180.0,Strange&#44 slowly moving fireball like object...,2014,5,7
65815,-88.175278,30.547500,2014-05-07 21:00:00,theodore,al,us,circle,120.0,Driving home and entered my neighborhood and s...,2014,5,7
65816,-73.051111,41.485833,2014-05-07 21:10:00,naugatuck,ct,us,unknown,300.0,Large formation of lights in western sky&#44 f...,2014,5,7
65817,-90.562778,38.232222,2014-05-07 21:20:00,hillsboro,mo,us,fireball,360.0,Round slow moving silent ball looked like a ca...,2014,5,7
65818,-90.048889,35.149444,2014-05-08 00:00:00,memphis,tn,us,rectangle,900.0,Standing at my window around 0:00 brilliantly ...,2014,5,8

In [3]:
us_df = df[df['country'] == 'us']
us16800_df = us_df.sort_values('date').reset_index(drop=True).head(16800)
us16800_df.to_csv('us16800ufoData.csv', index=False, header=True)