In [1]:
import pandas as pd;

df = pd.read_csv("ufoData.csv")
df

,date,city,state,country,shape,duration,comments,lat,lng
0,10/10/1949 20:30,san marcos,tx,us,cylinder,45 minutes,This event took place in early fall around 194...,29.883056,-97.941111
1,10/10/1960 20:00,kaneohe,hi,us,light,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.418056,-157.803611
2,10/10/1961 19:00,bristol,tn,us,sphere,5 minutes,My father is now 89 my brother 52 the girl wit...,36.595000,-82.188889
3,10/10/1965 23:45,norwalk,ct,us,disk,20 minutes,A bright orange color changing to reddish colo...,41.117500,-73.408333
4,10/10/1966 20:00,pell city,al,us,disk,3 minutes,Strobe Lighted disk shape object observed clos...,33.586111,-86.286111
...,...,...,...,...,...,...,...,...,...
66510,9/9/2013 21:15,nashville,tn,us,light,10 minutes,Round from the distance/slowly changing colors...,36.165833,-86.784444
66511,9/9/2013 22:00,boise,id,us,circle,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,43.613611,-116.202500
66512,9/9/2013 22:00,napa,ca,us,other,hour,Napa UFO&#44,38.297222,-122.284444
66513,9/9/2013 22:20,vienna,va,us,circle,5 seconds,Saw a five gold lit cicular craft moving fastl...,38.901111,-77.265556
66514,9/9/2013 23:00,edmond,ok,us,cigar,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,35.652778,-97.477778

In [11]:
us_df = df[df['country'] == 'us']
us168_df = us_df.sort_values('date').reset_index(drop=True).head(168)
us1680_df = us_df.sort_values('date').reset_index(drop=True).head(1680)

In [16]:
us168_df.to_csv('us168ufoData.csv', index=False, header=True)

In [17]:
us168_df

,date,city,state,country,shape,duration,comments,lat,lng
0,1/1/1944 12:00,san diego,ca,us,cigar,3 minutes,A sighting of one silver or white enlongated c...,32.715278,-117.156389
1,1/1/1956 5:30,weirton,wv,us,disk,10 seconds,My Uncle Sam was driving to work very early on...,40.418889,-80.589722
2,1/1/1957 21:00,dallas,tx,us,unknown,20 seconds,I was flying the first of 4 USAF aircraft on a...,32.783333,-96.800000
3,1/1/1958 22:00,pep,tx,us,fireball,2sec,Green fire balls&#44 Texas Panhandle&#44 late ...,33.816111,-102.557778
4,1/1/1961 12:00,santa clara,ca,us,circle,3 hours,Stationary circular object 12 oclock high.,37.354167,-121.954167
...,...,...,...,...,...,...,...,...,...
163,1/1/2007 16:30,miami lakes,fl,us,changing,20 minutes,strange objects on new year&#39s day&#44 2007 ...,25.908333,-80.308889
164,1/1/2007 18:08,eagle pass,tx,us,circle,15 minutes,Dark circular object seen over a deserted ranc...,28.708889,-100.499167
165,1/1/2007 19:00,chicago,il,us,light,approx. 1 hr. or so,Ball of changing light colors,41.850000,-87.650000
166,1/1/2007 19:00,magnolia,ar,us,unknown,5 minutes,Unidentified aircraft playing tag in the night...,33.266944,-93.239167
167,1/1/2007 19:30,salem,or,us,unknown,15-20 seconds,Lights moving from south to north&#44 low to g...,44.943056,-123.033889

In [21]:
us168LLD_df = us168_df[['lng','lat','date']]
us168LLD_df

            lng        lat            date
0   -117.156389  32.715278  1/1/1944 12:00
1    -80.589722  40.418889   1/1/1956 5:30
2    -96.800000  32.783333  1/1/1957 21:00
3   -102.557778  33.816111  1/1/1958 22:00
4   -121.954167  37.354167  1/1/1961 12:00
..          ...        ...             ...
163  -80.308889  25.908333  1/1/2007 16:30
164 -100.499167  28.708889  1/1/2007 18:08
165  -87.650000  41.850000  1/1/2007 19:00
166  -93.239167  33.266944  1/1/2007 19:00
167 -123.033889  44.943056  1/1/2007 19:30

[168 rows x 3 columns]

In [22]:
us168LLD_df.to_csv('us168ufoDataLLD.csv', index=False, header=True)

In [40]:
import pandas as pd
df2 = pd.read_csv("ufo.csv")
df2

,lng,lat,date,city,state,country,shape,duration (seconds),comments
0,-97.941111,29.883056,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,This event took place in early fall around 194...
1,-157.803611,21.418056,10/10/1960 20:00,kaneohe,hi,us,light,900.0,AS a Marine 1st Lt. flying an FJ4B fighter/att...
2,-82.188889,36.595000,10/10/1961 19:00,bristol,tn,us,sphere,300.0,My father is now 89 my brother 52 the girl wit...
3,-73.408333,41.117500,10/10/1965 23:45,norwalk,ct,us,disk,1200.0,A bright orange color changing to reddish colo...
4,-86.286111,33.586111,10/10/1966 20:00,pell city,al,us,disk,180.0,Strobe Lighted disk shape object observed clos...
...,...,...,...,...,...,...,...,...,...
66510,-86.784444,36.165833,9/9/2013 21:15,nashville,tn,us,light,600.0,Round from the distance/slowly changing colors...
66511,-116.202500,43.613611,9/9/2013 22:00,boise,id,us,circle,1200.0,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...
66512,-122.284444,38.297222,9/9/2013 22:00,napa,ca,us,other,1200.0,Napa UFO&#44
66513,-77.265556,38.901111,9/9/2013 22:20,vienna,va,us,circle,5.0,Saw a five gold lit cicular craft moving fastl...
66514,-97.477778,35.652778,9/9/2013 23:00,edmond,ok,us,cigar,1020.0,2 witnesses 2 miles apart&#44 Red &amp; White...

In [41]:
df2.rename(columns={'duration (seconds)':'duration'}, inplace=True)
#df2.sort_values(by='duration', ascending=False).head(200)
df2.sort_values(by='duration', ascending=False)

,lng,lat,date,city,state,country,shape,duration,comments
44061,-75.700000,45.416667,6/3/2010 23:30,ottawa (canada),on,ca,other,82800000.00,((HOAX??)) I was out in a field near mil&#44 ...
61742,-92.387500,35.233889,9/15/1991 18:00,greenbrier,ar,us,light,66276000.00,Orange or amber balls or orbs of light multipl...
53227,-119.032778,46.154167,8/10/2012 21:00,finley,wa,us,light,52623200.00,There have been several flying objects in a pe...
57205,-82.352778,26.961667,8/24/2002 1:00,englewood,fl,us,light,52623200.00,bright stars&#44 moving erratically&#44 over t...
25435,-117.145556,33.728333,3/1/1994 1:00,menifee,ca,us,unknown,10526400.00,Sun City / Menifee UFO sightings in 1994
...,...,...,...,...,...,...,...,...,...
11275,-122.638056,45.446389,11/28/2001 3:41,milwaukie,or,us,fireball,0.02,High speed moving fireball fallow by a bright ...
58178,-123.937222,44.621667,8/29/2002 23:45,toledo,or,us,triangle,0.01,The object I saw was very clear and moved at ...
35095,-88.191944,42.276111,5/15/1987 23:00,island lake,il,us,light,0.01,4 red laser like lines
19848,-121.285000,45.696111,12/9/1999 18:15,lyle,wa,us,fireball,0.01,Incredible...full moon sized bright orange fir...
46744,-87.804167,41.750000,7/15/1974 22:00,bridgeview,il,us,triangle,0.01,Triangular streak SW to NE horizon to horizon ...

In [43]:
df3 = df2.sort_values(by='duration', ascending=False, inplace=True)
#df3 = df2.iloc[200:]
df3.sort_values(by='duration', ascending=False)

,lng,lat,date,city,state,country,shape,duration,comments
52687,-118.308056,33.888333,7/8/2001 18:00,gardena,ca,us,disk,37800.00,I witnessed these craft first on 07//3/01&#44 ...
10532,-95.992500,36.153889,11/23/1998 22:45,tulsa,ok,us,unknown,37800.00,appeared to be a prism of colors sparkling--pu...
33692,-80.085278,42.129167,4/7/2004 21:30,erie,pa,us,diamond,37800.00,Strange&#44 beautiful&#44 confusing. I wonder...
57619,-99.334722,31.135000,8/26/1970 9:30,brady,tx,us,circle,37800.00,Object with colored lights seen in nite sky
38136,-85.539722,38.563056,5/7/2006 21:00,new washington,in,us,unknown,37800.00,low blinking stars&#44 across the sky from one...
...,...,...,...,...,...,...,...,...,...
11275,-122.638056,45.446389,11/28/2001 3:41,milwaukie,or,us,fireball,0.02,High speed moving fireball fallow by a bright ...
58178,-123.937222,44.621667,8/29/2002 23:45,toledo,or,us,triangle,0.01,The object I saw was very clear and moved at ...
35095,-88.191944,42.276111,5/15/1987 23:00,island lake,il,us,light,0.01,4 red laser like lines
19848,-121.285000,45.696111,12/9/1999 18:15,lyle,wa,us,fireball,0.01,Incredible...full moon sized bright orange fir...
46744,-87.804167,41.750000,7/15/1974 22:00,bridgeview,il,us,triangle,0.01,Triangular streak SW to NE horizon to horizon ...

In [45]:
us1680_df = df3.sort_values('date').reset_index(drop=True).head(1680)
us1680_df.to_csv('us1680ufoData.csv', index=False, header=True)
us1680LLD_df = us1680_df[['lng','lat','date']]
us1680LLD_df.to_csv('us1680ufoDataLLD.csv', index=False, header=True)

In [46]:
us16800_df = df3.sort_values('date').reset_index(drop=True).head(16800)
us16800_df.to_csv('us16800ufoData.csv', index=False, header=True)
us16800LLD_df = us16800_df[['lng','lat','date']]
us16800LLD_df.to_csv('us16800ufoDataLLD.csv', index=False, header=True)

In [49]:
us66800_df = df3.sort_values('date').reset_index(drop=True).head(66800)
us66800_df.to_csv('us66800ufoData.csv', index=False, header=True)
us66800LLD_df = us66800_df[['lng','lat','date']]
us66800LLD_df.to_csv('us66800ufoDataLLD.csv', index=False, header=True)

In [51]:
us16800_df["date"].min()

'1/1/1944 12:00'

In [52]:
us16800_df["date"].max()

'12/10/2007 22:00'